# 30 Jan Assignment

1. Write a program to accept percentage from the user and display the grade according to the following criteria:

In [1]:
marks = int(input("Enter your marks:"))

if marks>90:
    print("You got Grade 'A'")
elif marks>80 and marks<=90:
    print("You got Grade 'B'")
elif marks>=60 and marks<=80:
    print("You got Grade 'C'")
else:
    print("You got Grade 'D'")

Enter your marks: 66

You got Grade 'C'

2. write a program to accept the cost price of a bike and display the road tax to be paid according to the following criteria:

In [2]:
cost= int(input("Enter your cost price of a bike:"))

if cost>100000:
    print("your Road Tax '15%'")
elif cost>50000 and cost<=100000:
    print("Your Road Tax is '10%'")
else:
    print("Your Road Tax is '5%'")

Enter your cost price of a bike: 700000

your Road Tax '15%'

3. Accept any city from the user and dispplay monuments of that city:

In [7]:
city =input("Enter city name: like: 'Delhi, Agra, Jaipur'").lower()

a="delhi"
b="agra"
c="jaipur"

if city==a:
    print("The monuments of that city 'Red Fort'")
elif city==b:
    print("The monuments of that city 'Taj Mahal'")
elif city==c:
    print("The monuments of that city 'Jal Mahal'")
else:
    print("please Enter correct name")

Enter city name: like: 'Delhi, Agra, Jaipur' agra

The monuments of that city 'Taj Mahal'

4. check how many times a given number can be divided by 3 before it is less than or equal to 10.

In [4]:
for i in range(10):
    if i<=10:
        if i%3==0:
            print(i)

0
3
6
9

5. Why and when to Use while loop in python give a detailed description with example.

Ans: The while statement simply loops until a condition is False. while loop used to re-execute the same block of statement n number of time that is depending on condition. but for loop depending on the number of elements in the given object.

example:

i = 0

while i <= 10::
    print i
    i = i + 1

6. use nested while loop to print 3 different pattern.

In [5]:
i=1
while i<=5:
    j=1
    while j<=i:
        print(j, end="")
        j=j+1
    print()
    i=i+1

1
12
123
1234
12345

7. Reverse a while loop to display numbers from 10 to 1.

In [8]:
i=10
while i>=1:
    print(i)
    i=i-1

10
9
8
7
6
5
4
3
2
1

8. Reverse a while loop to display numbers from 10 to 1.

In [9]:
i=10
while i>=1:
    print(i)
    i=i-1

10
9
8
7
6
5
4
3
2
1